* {
    padding: 0;
    margin: 0;

}

body {
    display: flex;
    flex-wrap: wrap;

}


li {
    display: inline;

}

/* navbar */
#navbar-logo {
    height: 50px;
}

.navbar {
    background-color:#22706B;
    text-align: right;
    flex-wrap: wrap;
    float: right;
}

.nav-logo {
    height: 50px;
}

/* header */
.header-image {
    max-width: 100%;
}

header {
    padding: 2%;
    margin: 2%;
}

/* about section */

.sectionStyle1 {
    background-color: #E08356;
}

